data/tokenizers
__pycache__/
.DS_Store
modded-nanogpt/
modded-nanogpt
data/datasets
data/manifest.json
data/docs_selected.jsonl
.mypy_cache/
.venv
logs/
*.log
*.txt
!records/track_non_record_16mb/2026-03-26_Stable_Growing_Recurrance/*.log
*.pt
*.ptz
*.wandb